USE [master]
GO
/****** Object:  Database [VDBSDemo]    Script Date: 8/12/2020 2:11:57 PM ******/
CREATE DATABASE [VDBSDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VDBSDemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\VDBSDemo.mdf' , SIZE = 5312KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'VDBSDemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\VDBSDemo_log.ldf' , SIZE = 2880KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VDBSDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VDBSDemo]
GO
/****** Object:  Table [dbo].[CompanyMaster]    Script Date: 8/12/2020 2:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CompanyMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_CompanyMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FileMaster]    Script Date: 8/12/2020 2:11:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FileMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [varbinary](max) NULL,
	[ContentType] [varchar](200) NULL,
	[CompanyId] [int] NULL,
 CONSTRAINT [PK_FileMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CompanyMaster] ON 

INSERT [dbo].[CompanyMaster] ([Id], [Name], [Status]) VALUES (23, N'files', 0)
INSERT [dbo].[CompanyMaster] ([Id], [Name], [Status]) VALUES (24, N'JyoFile', 1)
INSERT [dbo].[CompanyMaster] ([Id], [Name], [Status]) VALUES (25, N'gngn', 1)
SET IDENTITY_INSERT [dbo].[CompanyMaster] OFF
SET IDENTITY_INSERT [dbo].[FileMaster] ON 

INSERT [dbo].[FileMaster] ([Id], [FileName], [ContentType], [CompanyId]) VALUES (17, 0x, N'image/png', 24)
SET IDENTITY_INSERT [dbo].[FileMaster] OFF
USE [master]
GO
